section {
  margin: 1rem auto;
  width: 90%;
  max-width: 40rem;
  text-align: center;
  background-color: white;
  padding: 2rem;
  border-radius: 12px;
}

button {
  font: inherit;
  cursor: pointer;
  background: #230052;
  border: 1px solid #230052;
  color: white;
  padding: 0.75rem 2rem;
  border-radius: 20px;
}

button:focus {
  outline: none;
}

button:hover,
button:active {
  background-color: #460897;
  border-color: #460897;
}
.loading {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}

.loading:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: #333;
  transform-origin: center;
  animation: loading 0.5s linear infinite;
  transition: border-color 0.25s ease-in-out;
}

@keyframes loading {
  to {
    transform: rotate(360deg);
  }
}

.no-movies {
  display: inline-block;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #666;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 16px;
  margin: 16px;
}


.error {
  display: inline-block;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: red;
  background-color: #fff0f0;
  border: 1px solid red;
  border-radius: 4px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  margin: 16px;
}
